li {
    list-style: none;
    color: black;
}

.chart {
    color: black;
    background-color: yellow;
}

.tooltip {
    position: absolute;
    border: 0;
    border-radius: 15px;
    background-color: magenta;
    color: white;
}